<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.js"
      integrity="sha256-LHLWSn9RC2p119R1eT2pO3Om+Ir2G0kTZOJmWQ2//pw="
      crossorigin="anonymous"
    ></script>

    <script src="data.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.0/styles/default.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.0/highlight.min.js"></script>
    <title>d3-force Seesoft</title>
  </head>
  <body>
    <h1>ES4: Seesoft-like</h1>
    <svg id="canvas"></svg>
    <script src="visualize.js"></script>
  </body>
</html>
